<h1>Services</h1>

<% if @services.any? %>
  <% @services.each do |service| %>
    <%= image_tag(service.attached_image) %>
    <h3><%= service.name %>  <%= service.duration %> minutes  $<%= service.cost %></h3>
    <p><%= markdown(service.description) %></p>
    <% if admin? %>
      <%= link_to "Edit service", edit_service_path(service) %>
    <% end %>
  <% end %>
<% end %>

<% if admin? %>
  <h3><%= link_to "Add a service", new_service_path %></h3>
<% end %>
