<div id="profile_update">
  <% render "layouts/errors", :object => @practitioner %>

  <h1>Customize your website</h1>

  <div class="form">
    <%= bootstrap_form_for @practitioner do |f| %>
      <h3>Business contact info</h3>
      <p>This information will go on your contact page.</p>
      <%= f.text_field :name, label: "Name" %>
      <%= f.text_field :address, label: "Address" %>
      <%= f.text_field :phone, label: "Phone number" %>
      <%= f.text_field :email, label: "Email" %>
      <%= f.text_area :appointment_info, label: "Information on scheduling appointments (Optional: this information will go on your contact page, just below your other contact details)" %>

      <h3>Home page</h3>
      <p>This includes a background image, your logo, and any text you'd like to have on your landing page.</p>
      <%= f.text_area :body, label: "Text for your landing page" %>
      <%= f.text_area :current_news, label: "Updates, specials, current news (Optional: this information will go just below your logo on your landing page)" %>
      <%= f.file_field :background_image, label: "Landing page image" %>
      <%= f.check_box(:delete_background_image) %>
      <%= f.file_field :logo, label: "Logo" %>
      <%= f.check_box(:delete_logo) %>

      <h3>About page</h3>
      <p>Your bio goes on your about page along with a picture of you.</p>
      <%= f.text_area :bio, label: "Add a bio for your about page" %>
      <%= f.file_field :attached_image, label: "A picture of you" %>
      <%= f.check_box(:delete_attached_image) %>

      <%= f.submit "Submit", class: "btn btn-success" %>
    <% end %>
  </div>
</div>
