<% if @practitioner.present? %>
  <h3><%= @practitioner.name %></h3>
  <h3><%= @practitioner.phone %></h3>
  <h3><%= @practitioner.email %></h3>
  <h3><%= @practitioner.address %></h3>

  <%= link_to "Edit contact info", edit_practitioner_path(@practitioner) %>

<% else %>

  <h3>Your contact information will go here once you <%= link_to "customize your business profile.", new_practitioner_path %></h3>

<% end %>
