<% if @practitioner.present? %>
  <% if @practitioner.logo.present? %>
    <div id="logo"><%= image_tag(@practitioner.logo) %></div>
  <% end %>
  <p>
    <% if @practitioner.current_news? %>
      <%= markdown(@practitioner.current_news) %>
    <% end %>
  </p>
  <p>
    <% if @practitioner.body? %>
      <%= markdown(@practitioner.body) %>
    <% end %>
  </p>
<% else %>
  <h3>Welcome to your new website. <%= link_to "Please configure your business profile.", new_practitioner_path %></h3>
<% end %>
<% if admin? %>
  <h3><%= link_to "Update your profile", edit_practitioner_path(@practitioner) %></h3>
<% end %>
