<% if @practitioner.present? %>
  <% if @practitioner.logo.present? %>
    <%= image_tag(@practitioner.logo) %>
  <% end %>
  <h3><%= @practitioner.name %></h3>
  <p>
    <%= @practitioner.body %>
  </p>
<% else %>
  <h3>Welcome to your new website. <%= link_to "Please configure your business profile.", new_practitioner_path %></h3>
<% end %>


<h3><%= link_to "Update your profile", edit_practitioner_path(@practitioner) %></h3>
