<!DOCTYPE html>
<html>
<head>
  <title>Sisterveda</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region=' %>
  <%= javascript_include_tag '//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Josefin+Slab:400,400italic,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= render "layouts/header" %>
  <div class="container">
    <div class="main">

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>

      <%= yield %>
    </div>
  </div>
  <div class="footer">
    <%= render "layouts/footer" %>
  </div>
</body>
</html>
